

        <footer>
            <div class="container-fluid footer">
                Developed by <a class="link-footer" href="mailto:dallyla.s.oliveira@gmail.com" >Dallyla Oliveira</a>
            </div>
        </footer>
    </body>
</html>