<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-shopping-bag fa-5x"></i>
        <h1 class="display-3 main-title">Controle de Pedidos</h1>
        <hr class="my-4">        
        <a class="btn btn1  btn-lg" href="/cadastrar" role="button">Cadastrar</a>
        <a class="btn btn2  btn-lg" href="/buscar" role="button">Buscar</a>
    </div>
    
</div>

<%- include('partials/footer') %>